:root {
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;

  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));

  --section-background: #ececec;

  --first-color-alt: #c7bdfc;

  --text-color: #babec4;

  --body-color: #0b111e;

  --container-color: hsl(219, 32%, 12%);

  --title-color: hsl(var(--second-hue), 15%, 95%);

  --text-color-light: hsl(var(--second-hue), 4%, 55%);
}

*,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  color: var(--first-color);
  margin-bottom: 70px;
}

.section__subtitle {
  display: block;
  color: var(--text-color-light);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  transition: 0.4s; /* for light mode animation */
}
body.light {
  --text-color: rgb(0, 0, 0);

  --body-color: #fff;

  --container-color: hsl(0, 0%, 100%);

  --title-color: rgb(0, 0, 0);

  --text-color-light: hsl(var(--second-hue), 4%, 55%);
}

a {
  text-decoration: none;
}

@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header*/

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.light header {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.247);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.nav_logo {
  color: var(--first-color);
  font-size: 20px;
  font-weight: bold;
}

.nav_logo:hover {
  color: var(--first-color-alt);
}

header ul {
  position: fixed;
  bottom: 2rem;
  display: flex;
  width: 400px;
  justify-content: space-between;
  background-color: #1c2536b9;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 25px;
  backdrop-filter: blur(20px);
  border-radius: 30px;
}

.light header ul {
  background-color: #d4dcebb9;
}

@media (max-width: 575px) {
  header ul {
    width: calc(100% - 30px);
  }
}

header ul > li > a {
  color: var(--text-color);
  display: block;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.mode {
  font-size: 25px;
}

.change-theme {
  cursor: pointer;
}

/*Active Link*/
.active_link {
  background: linear-gradient(180deg, #a395e9, #a395e94b);
  box-shadow: 0px 0px 8px rgb(210, 157, 240);
}
/*Active Link*/

/*End Header*/

/*Start Home*/

.home {
  overflow: hidden;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 40px;
  text-align: center;
  position: relative;
  min-height: 100vh;
  justify-content: space-around;
}

.home .home_data .intro {
  font-weight: 600;
}

.jop_title {
  font-weight: 300;
}
.home .home_data .intro,
.jop_title {
  font-size: 18px;
}
.home .home_data .name {
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 50px;
}

.home .container .image {
  text-align: center;
}

.home .container .image img {
  width: 500px;
  max-width: 96%;
}

.home_buttom {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home_buttom > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.4s;
  background-color: var(--first-color);
  cursor: pointer;
  color: var(--body-color);
}

.home_buttom > a:first-of-type {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.home_buttom > a:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.home_social {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 20px;
  bottom: 70px;
  gap: 10px;
}

.home_scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 30px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.home_scroll > i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
  padding: 5px;
  color: var(--first-color);
  border-radius: 6px;
  font-size: 20px;
  width: max-content;
}
.home_scroll span {
  transform: rotate(90deg);
  color: var(--first-color);
}

@media (max-width: 575px) {
  .home_buttom {
    flex-direction: column;
  }
  .home_social {
    left: 20px;
    bottom: 140px;
  }
  .home_scroll {
    bottom: 100px;
    right: -10px;
  }
}

.home_social > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
  padding: 5px;
  color: var(--first-color);
  border-radius: 6px;
  font-size: 20px;
  width: max-content;
}

.light .home_social > a {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.288);
}

.home_social > a:hover {
  background-color: var(--first-color);
  color: white;
}

.home_social::after {
  content: "";
  background-color: var(--first-color);
  width: 80px;
  height: 3px;
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

/*End Home*/

/*Start About*/

.about {
  padding: 100px 0;
}

.about .container {
  display: flex;
  gap: 100px;
  align-items: center;
}

@media (max-width: 991px) {
  .about .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 40px;
  }
}

.about .image img {
  width: 500px;
}

@media (max-width: 991px) {
  .about .image {
    text-align: center;
  }
  .about .image img {
    max-width: 100%;

    width: 400px;
  }
}

.about .info .exp {
  display: flex;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.about .info .exp > div {
  background-color: var(--container-color);
  border-radius: 6px;
  padding: 15px 10px;
  flex: 1;
  transition: 0.4s;
}

.light .about .info .exp > div {
  box-shadow: 0px 0px 6px rgb(0 0 0 / 13%);
}
@media (max-width: 575px) {
  .about .info .exp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.about .info .exp > div:hover {
  background-color: #a897f1a6;
}

.about .info .exp > div > h3 {
  margin: 15px;
}

.about .info .exp > div i {
  color: var(--first-color);
  font-size: 30px;
}

@media (max-width: 991px) {
  .about .info .text {
    text-align: center;
  }
}

.about .info .text p {
  line-height: 1.5;
  margin-bottom: 40px;
}

.about .info .text a {
  padding: 10px;
  border: 2px solid var(--first-color);
  border-radius: 6px;
  background-color: var(--first-color);
  color: var(--body-color);
}

/*End About*/

/*Start skills*/

.skills {
  padding: 100px 0;
}

.skills .container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}
.skills .box {
  background-color: var(--container-color);
  padding: 40px;
  width: 500px;
  justify-content: space-around;
  border-radius: 10px;
}

.light .skills .box {
  box-shadow: 0px 0px 6px rgb(0 0 0 / 13%);
}

@media (max-width: 767px) {
  .skills .container {
    flex-direction: column;
  }

  .skills .box {
    width: 100%;
  }
}

.skills .box h3 {
  text-align: center;
  margin-bottom: 20px;
}

.skills .box .container-skills {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-content: space-around;
}

.skills .box .container-skills .skils-info {
  display: flex;
  gap: 20px;
}

.skills .box .container-skills .skils-info i {
  font-size: 20px;
  color: var(--first-color);
}

.skills .box .container-skills .skils-info > div h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
/*End skills*/

/* Start Works*/

.work {
  padding: 100px 0;
}

.work .box {
  padding: 20px;
  background-color: var(--container-color);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.light .work .box {
  box-shadow: 0px 0px 6px rgb(0 0 0 / 13%);
}
.work .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 992px) {
  .work .container {
    grid-template-columns: auto auto;
  }
}
.work .work_filters {
  display: flex;

  gap: 7px;
  justify-content: center;
  margin-bottom: 40px;
  color: var(--title-color);
}

.work .work_filters > div {
  padding: 5px 8px;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
}

.work .work_filters > div:hover {
  background-color: #eee;
  color: #0b111e;
}

.work .work_filters > div.active {
  background-color: var(--first-color);
}

.work .box .con-img {
  overflow: hidden;
  height: 100%;
}

@media (max-width: 1199px) {
  .work .container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .work .container {
    grid-template-columns: auto;
  }
}

.work .box .con-img img {
  width: 100%;
  height: 100%;
}

.work .source {
  position: absolute;
  left: 0;
  top: 130px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  transition: 0.4s;
}

.work .box:hover .source {
  top: 0px;
}

.work .source > div {
  padding: 10px;
  cursor: pointer;
}

.work .source > div:first-of-type {
  background-color: var(--first-color);
  color: var(--body-color);
  border: 2px solid var(--first-color);
}

.work .source > div:nth-of-type(2) {
  border: 2px solid var(--first-color);
  transition: 0.4s;
}
.work .source > div:nth-of-type(2):hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
/* End Works*


/* Start Contact*/
.contact {
  padding: 100px 0;
}

.contact .container {
  display: grid;
  grid-template-columns: 320px 450px;
  justify-content: space-evenly;
  gap: 50px;
}

@media (max-width: 767px) {
  .contact .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .contact .container {
    grid-template-columns: 280px 400px;
  }
}

@media (min-width: 992px) {
  .contact .container {
    grid-template-columns: 320px 450px;
  }
}

.contact .left > h3 {
  margin-bottom: 20px;
  text-align: center;
}

.contact .left .ways {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact .left .ways > div {
  padding: 20px 0;
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-radius: 8px;
}

.light .contact .left .ways > div {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.233);
}

.contact .left .ways > div > i {
  font-size: 30px;
  color: var(--title-color);
}
.contact .left .ways > div > span {
  color: var(--title-color);
}

.contact .left .ways > div .address {
  color: var(--text-color);
}

.contact .ways .write_me {
  display: flex;
  justify-content: center;
}

.contact .ways .write_me > a {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 4px;
  color: var(--first-color);
}

.contact .ways .write_me > a i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .ways .write_me:hover a i {
  animation: clickat 0.4s linear;
  animation-iteration-count: infinite;
}

.contact .right > h3 {
  margin-bottom: 20px;
  text-align: center;
}

.contact .right form > .contact_input {
  position: relative;
  margin-bottom: 20px;
  height: 60px;
}

.contact .right form > .contact_input input,
.contact .right form > .contact_input textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  background: none;
  color: var(--title-color);
  padding: 10px 20px;
  z-index: 1;
  outline: none;
  border-radius: 5px;
  display: block;
}

.light .contact .right form > .contact_input input,
.light .contact .right form > .contact_input textarea {
  border: 2px solid rgba(0, 0, 0, 0.192);
}

.contact .right form > .contact_input .contact-tag {
  position: absolute;
  top: -7px;
  left: 10px;
  z-index: 5;
  background-color: var(--body-color);
  font-size: 17px;
  display: block;
}

.contact .right form .text-area {
  height: 210px;
}

.button button {
  display: inline-block;
  padding: 15px;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* End Contact*/

.footer {
  background-color: var(--first-color);
  padding-top: 60px;
  padding-bottom: 20px;

  text-align: center;
  color: black;
}

.footer .social {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer h2 {
  color: black;
  font-weight: bold;
}

.footer .social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer .social a {
  display: block;
}
.footer .social a i {
  font-size: 40px;
  color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 1px;
  background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

@keyframes clickat {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(4px);
  }
}
